<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{%static 'css/style.css' %}">
</head>
<body>
    <form method="POST"  action="{%url 'edit_player' sports.id %}">
        {%csrf_token%}
        <table>
            <tr>
                <th colspan="2">Update Employee</th>
            </tr>
            <tr>
                <td><label>Employee Name</label></td>
                <td><input type="text" name="name" id="name" value="{{sports.name}}"></td>
            </tr>
            <tr>
                <td><label>Email</label></td>
                <td> <input type="text"  name="email" value="{{sports.email}}"></td>
            </tr>
            <tr>
                <td><label>Country</label></td>
                <td> <input type="text"  name="country" value="{{sports.country}}"></td>
            </tr>
            <tr>
                <td><label>Game</label></td>
                <td> <input type="text"  name="game" value="{{sports.game}}"></td>
            </tr>
            <tr>
                <td><label>Score</label></td>
                <td><input type="number" name="score" value="{{sports.score}}"></td>
            </tr>
            <tr>
				<td colspan="2" ><button>Update</button></td>
			</tr>

        </table>
    </form>
</body>
</html>